<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="styles/css/main.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../images/big-logo.avif">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <button class="menu__list-link about" onclick="window.location.href='../about.html'" type="submit">About</button>
                            </li>
                            <li class="menu__list-item">
                                <button class="menu__list-link nav-gallery" onclick="window.location.href='../gallery.html'">Gallery</button>
                            </li>
                        </ul>
                    </nav>
                    <a class="logo" href="../index.html">
                        <img src="images/logo.svg" alt="logo" />
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <button class="menu__list-link header-blog" onclick="window.location.href='../blog.html'">Blog</button>
                            </li>
                            <li class="menu__list-item">
                                <button class="menu__list-link contact" onclick="window.location.href='../contact.html'">Contact</button>
                            </li>
                        </ul>
                    </nav>
                    <button class="header__btn">
                        <img src="images/icon_menu.svg" alt="" />
                    </button>
                    <div class="rightside-menu">
                        <button class="rightside-menu__close">
                            &#10005;
                        </button>
                        <div class="rightside-menu__content">
                            <img class="rightside-menu__logo" src="../images/big-logo.avif" alt="">
                            <h4 class="rightside-menu__title">Furniture for life</h4>
                            <p class="rightside-menu__text">Sustainable hot chicken skateboard, dreamcatcher meggings
                                actually squid.
                                Slow-carb everyday carry +1 art party
                                microdosing, put a bird on it brooklyn</p>
                            <img class="rightside-menu__img" src="../images/Rectangle.avif" alt="LOSHPED">
                        </div>
                    </div>
                </div>
            </div>
        </header>